.openings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-main);
    font-family: var(--font-main);
    padding: 2rem;
}

.position-selectors select,
.toggle-buttons button,
.color-buttons button,
.start-button {
    font-size: 1.1rem;
}

.main-content {
    display: flex;
    align-items: center;
    min-height: 30rem;
}

.side-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    gap: 1rem;
}

.separator {
    width: 100%;
    height: 1px;
    border: none;
    margin: 0.5rem 0;
    background: linear-gradient(to right, transparent, var(--text-color-main) 40%, var(--text-color-main) 60%, transparent);
    opacity: 0.4;
}


.position-selectors select {
    width: 10rem;
    height: 3rem;
    margin-right: 1rem;
    padding: 0.5rem;
    background: var(--bg-dropdown);
    border: var(--border-soft);
    color: var(--text-color-main);
    border-radius: 5px;
    text-align: center;
}

.position-selectors .small-selector {
    width: 4rem;
}

.position-selectors select:hover {
    background: var(--bg-hover);
}

.chessboard-wrapper {
    width: 100%;
    max-width: 40rem;
    margin: 2rem 0;
    border: var(--border-strong);
    box-shadow: var(--box-shadow-soft);
    background: var(--bg-board);
}

.toggle-buttons,
.color-buttons {
    width: 10rem;
    height: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.toggle-buttons button,
.color-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: var(--bg-button);
    color: var(--text-color-main);
    cursor: pointer;
    transition: background 0.2s;
}

.toggle-buttons button.active,
.color-buttons button.active {
    background: var(--bg-active);
}

.toggle-buttons button:not(.active):hover,
.color-buttons button:not(.active):hover {
    background: var(--bg-hover);
}

.start-button {
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: var(--bg-hover);
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow-strong);
    margin: 1rem 0;
}

.rating-selector {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.rating-selector .label {
    font-weight: bold;
    background: var(--bg-dropdown);
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
}

.rating-label {
    font-weight: bold;
    color: var(--text-color-main);
    text-align: center;
    font-size: 1.5rem;
}

.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: var(--bg-button);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}